RewriteEngine On
Options +SymLinksIfOwnerMatch

# Blokir akses ke file sensitif

<FilesMatch "^(\.env|artisan|composer\.(json|lock))$">
Order allow,deny
Deny from all
</FilesMatch>

# Blokir akses ke folder inti Laravel

RewriteRule ^(app|bootstrap|config|database|resources|routes|storage|tests|vendor)/(.\*)$ - [F,L]

# Serve existing files in the /public folder as if they were in /

RewriteCond %{DOCUMENT_ROOT}/laravel-app/public%{REQUEST_URI} -f
RewriteRule (.+) /laravel-app/public/$1 [L]

# Route everything else to /public/index.php

RewriteRule ^ /laravel-app/public/index.php [L]
