
# DO NOT REMOVE THIS LINE AND THE LINES BELOW HOTLINKID:627Eb6wwPN
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?aplikasipersediaantokox.com/.*$      [NC]
RewriteRule .*\.(gif|tiff|mpg|zip|mp3|psd|htm|avi|wma|rar|txt|swf|exe|mpeg|mov)$ https://aplikasipersediaantokox.com [R,NC]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 627Eb6wwPN:HOTLINKID



<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Force HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Block .env
    <FilesMatch "^\.env">
        Order allow,deny
        Deny from all
    </FilesMatch>

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
    Header always set Referrer-Policy "strict-origin-when-cross-origin"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
</IfModule>
